<!DOCTYPE html>
<html lang='fr/FR' ng-app="myApp">
    <head>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    </head>
    <body>
        <div ng-controller="appCTRL">
                <h1>{{tree.name}}</h1>
                <ul>
                    <li ng-repeat="content in tree.groups">
                        Group {{content.id}}
                        <ul>
                            <li ng-repeat="team in content.teams">
                                {{team}}
                            </li>
                        </ul>
                    </li>
                </ul>
        </div>
        <script src="app.js"></script>
    </body>
</html>