<!DOCTYPE html>
<html lang='fr/FR' ng-app="myApp">
    <head>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    </head>
    <body>
        <div ng-controller="appCTRL">
            <div ng-repeat="content in index">
                <ul ng-repeat='branch in tree'>
                    <li>branch.groups.id</li>
                </ul>
            </div> 
        </div>
        <script src="app.js"></script>
    </body>
</html>